*
!.gitattributes
!.gitignore
!LICENSE
!README.md

!.prettierrc
!build.zig
!build.zig.zon
!eslint.config.js
!package.json
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

!/docs
!/docs/*.html
!/docs/*.js
!/docs/*.wasm

!index.html

!src
!src/*.tsx
!src/vite-env.d.ts

!src/components
!src/components/*.tsx

!src/wasm
!src/wasm/*.zig
